{% extends 'layouts/main.twig' %}

{% block title %}Добавление пользователя{% endblock %}

{% block body %}
<h3> пожалуйста, зарегистрируйтесь и мы обработаем ваш заказ </h3>
    <form action="/user/insert" method="post">
        <input type="text" placeholder="user_name" name="user_name">
        <input type="text" placeholder="user_login" name="user_login">
        <input type="password" placeholder="user_password" name="user_password">
        <input type="text" placeholder="user_address" name="user_address">
        <input type="text" placeholder="user_credit_card" name="user_credit_card">
        <input disabled name="order">
        <input type="submit">
    </form>
{% endblock %}