{% extends 'layouts/main.twig' %}

{% block title %}Товары{% endblock %}

{% block body %}
    {% for good in goods %}
        {% if good.is_active == 1 %}
            {{ good.good_name }} // стоит {{ good.good_price }} рублей
            
            </br>
            <form class="quantity" action="/basket/addBasket?id={{ good.id }}" method="post">
        
        <input type="number" name="name" value="1" class="quantity">
        
      <input type="submit" value="добавить в корзину">
      
      </form>
            
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}


