{% extends 'layouts/main.twig' %}

{% block title %}Добавление пользователя{% endblock %}

{% block body %}
<h3> регистрация </h3>
    <form action="/user/insert" method="post">
        <input type="text" placeholder="имя" name="user_name">
        <input type="text" placeholder="логин" name="user_login">
        <input type="password" placeholder="пароль" name="user_password">
        <input type="submit">
    </form>
{% endblock %}